footer#footer.footer.text-center
  .container
    small.copyright
      | Brought to you by&nbsp;
      a(href='https://domachine.de') domachine
      br
      | Designed with&nbsp;
      i.fa.fa-heart
      |  by&nbsp;
      a(href='http://themes.3rdwavemedia.com/', targe='_blank') Xiaoying Riley
